.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    padding-left: 10px;
}

.navbar li {
    display: inline;
    font-family: "Poiret One";
    font-size: 20px;
    font-weight: bold;
    color: #FF7148;
    padding-bottom: 0;
}

.navbar a {
    text-decoration: none;
}

.intro h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: "Poiret One";
    color: #EC583A;
    padding-top: 10px;
}

.intro p {
    padding-top: 10px;
    font-family: "Poiret One";
    font-size: 30px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: #FF7148;
}

.blocks .container .row .col-md-4 {
    border: 1px solid #C7D0D5;
    border-radius: 10px;
    background-color: #93B1C6;
    padding: 2px;
    height: 310px;
}

.blocks .container .row .col-md-4 h1 {
    font-family: "Poiret One";
    font-size: 30px;
    font-weight: bold;
    color: #F5F5F5;
    text-align: center;
}

.blocks .container .row .col-md-4 p {
    font-family: "Poiret One";
    font-size: 25px;
    color: #F5F5F5;
    text-align: center;
}
