
/*
 * Navigation
 */

.navbar .nav {
    list-style-type: none;
    padding: 5px 0px 0px 10px;
}

.navbar li {
    font-family: "Poiret One";
    font-size: 20px;
    font-weight: 700;
}

/*
 * Logo
 */

.logo {
    text-align: center;
}
.logo img {
    max-width: 100%;
}
.logo-text {
    font-size: 60px;
    color: #EC583A;
}

/*
 * Content
 */

body {
    font-family: "Poiret One";
}

.home_top h1 {
    font-size: 50px;
    text-align: center;
    color: #EC583A;
    padding: 10px 0px 0px 0px;
    font-weight: 700;
}

.home_top p {
    font-family: "Helvetica";
    padding: 10px 0px 0px 0px;
    font-size: 24px;
    text-align: center;
    padding: 0px 0px 50px 50px;
    color: #FF7148;
}

.infobox {
    font-family: "Helvetica";
    border: 1px solid #C7D0D5;
    border-radius: 10px;
    background-color: #93B1C6;
    padding: 2px, 5px, 0px, 5px;
    min-height: 300px;
    color: #F5F5F5;
    text-align: center;
}

.infobox h1 {
    font-size: 30px;
}
.infobox p {
    font-size: 22px;
}

/*
 * index.html
 */

.contribute-link {
    text-align: center;
    color: black;
    font-family: "Helvetica";
}

/*
 * about.html
 */

.intro {
    font-family: "Poiret One";
    text-align: center;
}
.intro h1 {
    font-size: 50px;
    font-weight: 700;
    padding: 10px 0px;
    color: #EC583A;
}
.intro p {
    font-family: "Helvetica";
    font-size: 24px;
    padding: 10px 0px;
    color: #FF7148;
}

/*
 * contact.html
 */

.contactinfo {
    margin: 5px 50px;
    text-align: center;
    padding-left: 23px;
}
#email{
  padding-top: 10px;
  text-align: left;
}
h2 {
   font-size: 35px;
    text-align: center;
    color: #EC583A;
    padding: 10px 0px 0px 0px;
    font-weight: 700;
}

/*
 * faq.html
 */

.intro p {
    text-indent: 50px;
    text-align: left;
    font-family: "Poiret One";
    margin-left: 25px;
    margin-right: 25px;
    color: #f5f5f5;
}
h2 {
    font-size: 35px;
    text-align: center;
    color: #f5f5f5;
    font-weight: normal;
    padding: 10px 0px 0px 0px;
    font-family: "Helvetica";
}
.infobox{
    margin: 5px 50px;
}
.infobox p {
    font-family: Helvetica;
    font-size: 24;
}
h1{
    font-size: 50px;
    text-align: center;
    color: #EC583A;
    padding: 10px 0px 0px 0px;
    font-weight: 700;
    font-family: "Poiret One";
}